doctype
html
    head
        link(rel="stylesheet", href="/roomlayout.css")
        link(rel="stylesheet", href="/roomstyle.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Sansita+Swashed:wght@600&display=swap")
        link(rel="icon", type="image/png", href="/images/harmony_logo.png")
        script(src="/scripts/socket.io.js")
    body(data-theme=theme ? theme : "dark")
        div(id="page_container")
            div(id="left_content")
                div(id="rooms_container")
                span(id="new_room")
                    img(id="new_room_icon" src="/images/add_room.png")
            div(id="middle_content")
                div(id="head-banner")
                    div(id="burger-menu") B
                    div(class="spacer")
                    div(id="room-menu") R
                div(id="display_messages_container")
                    div(class="message_box")
                        //span(class="avatar")
                        //span(class="name")
                        //span(class="message") 
                div(id="input_message_container")
                    div(id="img_preview")
                    div(id="bottom_input")
                        label(id="file_icon_container" for="my_file")
                            img(id="file_icon" src="/images/download.png")
                        form(id="send_media" enctype="multipart/form-data")
                            input(type="file" id="my_file" name="media")
                        span(class="textarea" contenteditable=true id="my_message" onkeypress="return submitOnEnter(event);")
            div(id="right_content")
                div(class="theme-switch-wrapper")
                    label(class="theme-switch" for="dark_toggle")
                        input(type="checkbox" id="dark_toggle" checked=(!theme || theme == "dark"))
                        div(class="slider round")
                    em Dark Mode!
                br
                br
                div(id="roomname_label")
                img(class="avatar" id="avatarImg" src=avatar)
                div(id="username_label")=username
                div(id="changepass")
                    p Change Password
                div(id="logout")
                    p Log Out
                span(class="spacer")
                div(id="delete")
                    p Delete Account
        div(id="tooltips")
        
        div(id="modal_background") 
            div(id="room_modal" class="modal")
                div(class="modal_content")
                    div(class="modal_header")
                        span(class="close") &times;
                        h2 Create/Join Room
                    div(class="modal_body")
                        span(id="create_room_option" class="button") Create Room
                        span(id="join_room_option" class="button") Join Room
            div(id="create_room_modal" class="modal")
                div(class="modal_content")
                    div(class="modal_header")
                        span(class="close") &times;
                        h2 Create Room
                    div(class="modal_body")
                        p Room Id:
                        input(type="text" id="create_id")
                        p Room Name:
                        input(type="text" id="create_title")
                        p Password:
                        input(type="password" id="create_password")
                        span(id="create_room_button" class="button") Create Room
                    div(class="modal_footer")
                        span(class="back_modal") Back 
            div(id="join_room_modal" class="modal")
                div(class="modal_content")
                    div(class="modal_header")
                        span(class="close") &times;
                        h2 Join Room
                    div(class="modal_body")
                        p Room Id:
                        input(type="text" id="join_id")
                        p Password:
                        input(type="text" id="join_password")
                        span(id="join_room_button" class="button") Join 
                    div(class="modal_footer")
                        span(class="back_modal") Back
            div(id="nickname_modal" class="modal")
                div(class="modal_content")
                    div(class="modal_header")
                        span(class="close") &times;
                        h2 Change Nickname
                    div(class="modal_body")
                        input(type="text" id="change_nickname" placeholder="New Nickname")
                        br
                        span(id="change_nickname_button" class="button") Change
            div(id="avatar_modal" class="modal")
                div(class="modal_content")
                    div(class="modal_header")
                        span(class="close") &times;
                        h2 Change Avatar
                    div(class="modal_body")
                        img(id="changeAvatar" src=avatar)
                        br
                        select(name="opAvatar" id="avatarSelection")
                            option(value="0") Select Avatar!
                            option(value="avatar1") Avatar 1
                            option(value="avatar2") Avatar 2
                            option(value="avatar3") Avatar 3
                            option(value="avatar4") Avatar 4
                            option(value="avatar5") Avatar 5
                            option(value="avatar6") Avatar 6
                            option(value="avatar7") Avatar 7
                            option(value="avatar8") Avatar 8
                            option(value="avatar9") Avatar 9
                            option(value="avatar10") Avatar 10
                        br
                        //button(id="tryAvatar" class="button") Try avatar!
                        //br
                        div Or Upload your own!
                        br
                        form(id="choose_avatar" enctype="multipart/form-data")
                            label(for="avatar_upload" class="button") Select Image
                            input(type="file" accept="image/*" id="avatar_upload" name="media")
                        br
                        button(id="useAvatar" class="button") Use Avatar
            div(id="password_modal" class="modal")
                div(class="modal_content")
                    div(class="modal_header")
                        span(class="close") &times;
                        h2 Change Password
                    div(class="modal_body")
                        input(type="password" id="change_new_password" placeholder="New Password")
                        br
                        span(id="change_password_button" class="button") Change
            div(id="file_modal" class="modal")
                div(class="modal_content")
                    div(class="modal_header")
                        span(class="close") &times;
                        h2(id="upload_name")
                    div(class="modal_body")
                        span(id="submit_file_button" class="button") Upload
                    div(class="modal_footer")
            div(id="room_icon_modal" class="modal")
                div(class="modal_content")
                    div(class="modal_header")
                        span(class="close") &times;
                        h2 Change Room Icon
                    div(class="modal_body")
                        form(id="choose_room_icon" enctype="multipart/form-data")
                            input(type="file" accept="image/*" id="room_icon_upload" name="media")
                        span(id="submit_room_icon_button" class="button") Change
            div(id="leave_room_modal" class="modal")
                div(class="modal_content")
                    div(class="modal_header")
                        span(class="close") &times;
                        h2(id="leave_header") Leave 'Room'
                    div(class="modal_body")
                        span(id="leave_room_button" class="button" style="background-color:red;") Leave
                        span(id="cancel_leave") Cancel
            div(id="view_image_modal" class="modal")
                div(id="special_modal_content")

        div(id="drop_overlay")
            div Drop files to upload them

        div(id="menu_background")
            div(id="context_menu")
                div(id="menu")
                    span(class="menu_item" id="menu_icon") Change Room Icon
                    span(class="menu_item" id="menu_copy") Copy Room Id
                    span(class="menu_item" id="menu_leave") Leave Room

        div(id="load-container")
            div(id="load-img-container")
                img(id="load-image" src="/images/loading.gif")


        audio(id="notif")
            source(src="/sounds/notif.ogg" type="audio/ogg")
            source(src="/sounds/notif.mp3" type="audio/mpeg")
            source(src="/sounds/notif.m4r" type="audio/aac")

        script(src="/scripts/roommanager.js")
        script(src="/scripts/roomscript.js")
        script(src="/scripts/dragdropuploader.js")